APP_NAME="404 Found"
DEBUG=True
GOOGLE_CLIENT_ID=placeholder
GOOGLE_CLIENT_SECRET=placeholder
DATABASE_URL=sqlite:///./gsu_commute.db
SECRET_KEY=TewXmEnk07nYWOfA75nl5p06zwb1TqSQoNZFsXjQrCc71cbbwTXWaaEAGND_0ZWnDxev9N1xhs2YkT4QndZ3yw
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
MARTA_API_KEY=placeholder