fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic[email]
alembic
python-dotenv
passlib
python-jose[cryptography]
bcrypt<4.0
authlib
starlette
httpx
beautifulsoup4
cloudscraper
pandas
selenium 
webdriver-manager